<%- include("base") -%>

    <div class="row mt-5">
        <div class="col-lg-4 mx-auto">
            <div class="alert alert-info">
                <h2>Edit TODO</h2>
            </div>
            <div class="p-4">
                <form action="/edit/<%= data.todoid %>" method="POST">

                    <input type="hidden" value="<%= data.todoid %>">
                    <label for="title">Title :</label>
                    <input type="text" name="title" value="<%= data.title %>"><br><br>
                    <label for="status">Status :</label>
                    <select name="status" id="status">
                        <option value="<%= data.status %>">PENDING</option>
                        <option value="<%= data.status %>">COMPLETED</option>
                    </select><br><br>
                    <label for="">Enter Date :</label>
                    <input type="date" name="date" value="<%= data.date %>" placeholder="dd-mm-yyyy" min="1900-01-01" max="2050-12-31">
                    <br><br>
                    <input type="submit" value="Save" class="btn btn-info">
                    <!-- <a href="/edit/<%= data.todoid %>">Save</a> -->
                </form>
            </div>
        </div>
    </div>